<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>
<div>

    <div id="chatLog">
        {%for chat in chats%}
        <div>{{chat}}</div>
        {%endfor%}
    </div>

    <div> <input id="messageInput" type="text" size="100"></div>
    <button id="sendBtn">Send</button>

    <script>
        sendBtn = document.getElementById('sendBtn')
        let room_name = "{{ room }}";
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room_name + '/');
        //server receive msg
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            document.getElementById('chatLog').innerHTML += ("<div>" + data.message + '</div>');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat closed');
        };

        document.getElementById('messageInput').focus();
        document.getElementById('messageInput').onkeyup = function (e) {
            if (e.key === 'Enter') {
                sendBtn.click();
            }
        };

        sendBtn.onclick = function (e) {
            const messageInputDom = document.getElementById('messageInput');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
    </body>

</html>