 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    index page

    
    <!-- <form method="post" id='indexForm'> -->
        <!-- {% csrf_token %} -->

        <input type="text" name="room_name" id="room_name">
        <button id="btn">Enter</button>
    <!-- </form> -->
    
</body>

</html>


<script>

const btn = document.getElementById('btn');

btn.addEventListener('click', () => {

    const room_name = document.getElementById('room_name').value;
    window.location.href = '/chat/'+ room_name
});


</script>
<script>


// document.querySelector('#room-name-input').onkeyup = function(e) {
//     if (e.key === 'Enter') {  // enter, return
//         document.querySelector('#room-name-submit').click();
//     }
// };

</script>
